{{- /*gotype: github.com/inklabs/rangedb/pkg/rangedbui.aggregateTypesTemplateVars*/ -}}

{{template "base" .}}
{{define "pageTitle" }}Aggregate Types{{end}}

{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6 medium-order-1">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="/aggregate-types">Aggregate</a> ({{.TotalEvents | formatUint64}})
                        </li>
                        <li>
                            <a href="/aggregate-types/live">Realtime</a>
                        </li>
                    </ul>
                </nav>
                <table>
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total Events</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .AggregateTypes}}
                    <tr>
                        <td><a href="/e/{{.Name}}">{{.Name}}</a></td>
                        <td>{{.TotalEvents | formatUint64}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
                <ul>
                </ul>
            </div>
        </div>
    </div>
{{end}}
