{{- /*gotype: github.com/inklabs/rangedb/pkg/rangedbui.aggregateTypeTemplateVars*/ -}}

{{template "base" .}}
{{define "pageTitle"}}{{.AggregateTypeInfo.Name}}{{end}}

{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 medium-order-1">
                <h3>
                    Aggregate Type: {{.AggregateTypeInfo.Name}}
                    <small>({{.AggregateTypeInfo.TotalEvents}})</small>
                </h3>
                {{template "records" .Records}}
                {{template "pagination" .PaginationLinks}}
            </div>
        </div>
    </div>
{{end}}
